.App {
  &__header {
    height: 100px;
    width: 100%;
    background-color: #686bd7;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 0;
    }
  }

  &__wrapper {
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
  }
}

.Nav {
  width: 100%;
  list-style-type: none;
  display: flex;
  padding: 0;

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__btn.MuiButton-root {
    color: inherit;
  }
}
