.App__header {
    height: 100px;
    width: 100%;
    background-color: #686bd7;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
    }
}

.App__body {
    .App__content {
        max-width: 1110px;
        margin: 0 auto;
    }
}